body {
  margin: 0.1em auto;
  width: 1280px;
  background: #659dbd;
  font-family: Impact, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 28px;
}

h1, p {
  text-align: center;
  margin: 0.2em 0;
}

a {
  color: blue;
}

input[type=text], button {
  font-family: Impact, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, Tahoma, sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 0.25em;
}

button {
  background-color: bisque;
  cursor: pointer;
}

form input,
form button {
  width: 100%;
}

canvas, video {
  background-color: white;
}

#loading, .overlay {
  background-color: rgba(72,86,94,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
}

#loading {
  text-align: center;
  line-height: 720px;
  z-index: 1000;
}
